# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example

# Builds
dist/
build/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Editor/IDE
.vscode/
.idea/

# Cache
.cache/
.eslintcache

# Vite
.vite/

# Coverage
coverage/
